/.pytest_cache/
/bin/
/lib/
/.idea
/.idea/*
/pyvenv.cfg
/HW15/__init__.py
/HW15/.pytest_cache/
/HW15/.pytest_cache/*
/HW17/.pytest_cache/
/HW17/.pytest_cache/*
/HW17/tests/.pytest_cache/
__pycache__/
