/.pytest_cache/
/bin/
/lib/
/.idea
/.idea/*
/pyvenv.cfg
/HW15/.pytest_cache/
/HW15/.pytest_cache/*
/HW17/.pytest_cache/
/HW17/.pytest_cache/*
/HW17/tests/.pytest_cache/
__pycache__/
/HW17/allure_reports/*
!/HW22/.pytest_cache/*
!/HW22/.pytest_cache/
